.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    width: 1125px;
    height: 613px;
    margin: 0 auto;
    padding-top: 45px;
}
.leftside{
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 595px;
    height: 613px;
    margin: 0 auto;
}
.rightside{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
h1{
    font-size: 108px;
    line-height: 102px;
    margin: 0 auto;
}
.paraOne{
    width: 404px;
    height: 91px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
    
}
.shoe_image{
    width: 530px;
    height: 487px;
}
.btns{
    display: flex;
    gap: 40px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.shopnow_btn{
    width: 150px;
    height: 41px;
    background-color: red;
    color: white;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}
.category_btn{
    width: 150px;
    height: 41px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}
.paraTwo{
    font-size: 16px;
    color: gray;
}
.amazon_flipkart_logos{
    display: flex;
    gap: 16px;
}

